h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.entry-content h1,
h1.entry-title
{
	font-size: 30px;

	&:after {
		width: 100px;
		background: #000;
		content: ' ';
		clear: both;
		height: 2px;
		display: block;
	}
}