.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.hero-image {
	width: 100%;
	margin: 0 0 30px 0;

	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0 0 40px;
	}

	img {
		width: 100%;
	}
}
.box-wrap {
	padding: 20px;
	@media screen and (min-width: $tabwidth) {
		padding: 20px;
	}
	@media screen and (min-width: $deskwidth) {
		padding: 30px;
	}
}
.home-first-block {
	width: 100%;
	margin: 0 0 30px 0;
	background-color: #fff;
	position: relative;

	@media screen and (min-width: $tabwidth) {
		width: 30%;
		float: right;
		margin: 0 0 40px;
	}
	p {
		margin: 0 0 10px 0;
	}
	h2 {
		border-bottom: 2px solid $color-black;
		margin: 0 0 0px 0;
		font: {
			font-family: $font__heading;
			size: 20px;
			weight: 700;
		}
		
	}
	.hfb-a a {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		background-color: rgba(0,0,0,.0);
		@include transition(all .3s ease);

		&:hover {
			background-color: rgba(0,0,0,.2);
		}
	}
}
.home-black-box {
	width: 100%;
	z-index: 10;
	margin: 0 0 30px 0;
	background-color: #000;
	position: relative;
	background: {
		image: url(images/ram.png);
		repeat: no-repeat;
		position: center center;
	}

	@media screen and (min-width: $tabwidth) {
		width: 25%;
		float: left;
		margin: 0 0 40px;
	}

	.hbb-overlay {
		width: 100%;
		height: 100%;
		z-index: 11;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.3);

		.hbb-content {
			width: 90%;
			margin: 40% auto 0 auto;
			text-align: center;
			z-index: 12;
			color: #fff;
			text-transform: uppercase;
			font: {
				family: $font__heading;
				weight: 400;
				size: 32px;
			}
		}
	}
}

.home-experience {
	width: 100%;
	margin: 0 0 30px 0;
	background-color: #fff;

	h2 {
		margin: 0 0 20px 0;
	}
	p {
		margin: 0 0 10px 0;
	}

	@media screen and (min-width: $tabwidth) {
		width: 70%;
		float: right;
		margin: 0 0 40px;
	}
}
.column-first {
	margin: 0 0 20px 0;
	@media screen and (min-width: $tabwidth) {
		margin: 0 5% 0px 0;
	}
}
.column-last {
	margin: 0 0 20px 0;
	@media screen and (min-width: $tabwidth) {
		margin: 0 0% 0px 0;
	}
}
.column-1, .column-2, .column-3 {
	width: 100%;
	position: relative;

	@media screen and (min-width: $tabwidth) {
		width: 30%;
		float: left;
	}

	h3 {
		color: $color-green;
		margin: 0 0 5px 0;
		font: {
			family: $font__heading;
			size: 16px;
		}
	}

	img {
		width: 100%;
	}
}
.next {
	width: 20px;
	height: 20px;
	position: absolute;
	right: -30px;
	top: 45%;
	color: $color-green;
}
.facebook-feed {
	width: 100%;
	margin: 0 0 30px 0;

	@media screen and (min-width: $tabwidth) {
		width: 45%;
		float: left;
	}
	h2 {
		width: 100%;
		display: block;
		padding: 5px 0;
		background-color: $color-green;
		color: #fff;
		border-bottom: 4px solid #000;
		text-align: center;
		margin: 0;
	}

	.feed-wrap {
		padding: 20px;
		background-color: #fff;
	}
}
.sponsors-box {
	width: 100%;
	margin: 0 0 30px 0;
	background-color: #000;

	@media screen and (min-width: $tabwidth) {
		width: 50%;
		float: right;
	}

	.sponsors {
		width: 20%;
		float: left;

		img {
			width: 100%;
		}

		a {
			display: block;
		}
	}
}
.portfolio-item.first {
	margin: 0 0 20px 0;
	@media screen and (min-width: $tabwidth) {
		margin: 0 3% 30px 0;
	}
}
.portfolio-item.last {
	margin: 0 0 20px 0;
	@media screen and (min-width: $tabwidth) {
		margin: 0 0 30px 0;
	}
}
.portfolio-item {
	width: 100%;

	img {
		width: 100%;
	}

	@media screen and (min-width: $tabwidth) {
		width: 31%;
		float: left;
	}
	
	a {
		display: block;
		
		overflow: hidden;

		&:hover {
			i {
				margin: 10px 0px 0 0;
			}
		}
	}
	.title {
		color: $color-green;
		h2 {
			width: auto;
			float:  left;
			display: inline-block;
			text-align:  left;
			margin: 5px 0 0 0;
		} // h2
		i {
			width: auto;
			float: right;
			margin: 10px 10px 0 0;
			@include transition(.3s ease all);
		}
	} // title
} // portfolio item
section.black-quote {
	width: 100%;
	padding: 20px;
	background-color: #000;
	color: #fff;
	overflow: hidden;
	margin: 20px 0 0 0;

	.quote {
		width: 60%;
		margin: 0 auto;
		text-align: center;
	}
}