$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #39393f;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #93B832;
$color__link-visited: purple;
$color__link-hover: #93B832;
$color__text-main: #39393f;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color-green: #93B832;
$color-black: #231F20;
$color-light-grey: #70707b;
$color-lighter-grey: #b4b4b8;
